*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}

    

.header{
    margin: 0 auto;
    text-align: center;
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
}
.input-container{
 margin: 0 auto;
 align-items: center;
}
#C{
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}
#F{
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}
#k{
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}

.output-container{
    font-family: 'Times New Roman', Times, serif;
}