*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
.header{
    margin: 0 auto;
    text-align: center;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
}
.input-container{
 
 width: 375px;
 height: 525px;
 margin-left: 350px;
 margin-top: 65px;
 background-color: burlywood;
 padding-left: 30px;
 border: solid 5px firebrick;
}

#C, #F, #k{
    width: 150px;
    height: 25px;
    margin-top: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
#CF{
 font-size: large;  
 font-family: 'Times New Roman', Times, serif; 
 color: wheat;
}


.output-container{
    font-family: 'Times New Roman', Times, serif;
}
